DEBUG=True
SECRET_KEY=generar-clave-secreta-django-insegura-para-dev
ALLOWED_HOSTS=localhost,127.0.0.1

# Desarrollo: True=SQLite | False=PostgreSQL 15
USE_SQLITE=True

# PostgreSQL 15
DB_NAME=webporkis
DB_USER=webporkis_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# WhatsApp
WHATSAPP_NUMBER=51904013194
WHATSAPP_DEFAULT_MESSAGE=Hola, me interesa conocer más sobre la granja Porkis.

# Email contacto
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=info@granjaporkis.com
CONTACT_RECIPIENT_EMAIL=info@granjaporkis.com

# Maps
MAPS_EMBED_URL=https://maps.google.com/maps?q=Distrito+de+Santa,+Provincia+del+Santa,+Ancash,+Peru&output=embed
